{% extends 'template.html' %}

{% block body %}

<div class="row mt-5 mb-5">
    {% for r in materiales %}
    <div class="col-md-4">
        <h3 class="h3">{{ r.titulo }}</h3>
        <h5 class="h5">Curso: {{ r.curso.nombre }}</h5>
        <p>
            <b>Descripción:</b> <br>{{ r.descripcion }}
        </p>

        {% if r.archivos %}
        <p>
            <b>Archivos </b><a href="{{ r.archivos.url }}">{{ r.titulo }}</a>
        </p>
        {% endif %}

        {% if r.link %}
        <p>
            <b>Links Externos </b><a href="{{ r.link }}">{{ r.link }}</a>
        </p>
        {% endif %}

        <p>
            {{ r.fecha_subida }}
        </p>
        <hr>
    </div>
    {% endfor %}
</div>


{% endblock %}