{% extends "template.html" %}

{% block body %}

<div class="container justify-content-center">
    <div class="container w-50">
        <table class="table" id="tareas">
            <thead>
                <tr>
                    <th class="h2">Tareas</th>
                </tr>
            </thead>
            <tbody>
                {% for t in tareas %}
                <tr>
                    <td>
                        <div class="row m-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ t.titulo }}</h5>
                                    <p class="card-text">{{ t.descripcion }}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Fecha de Inicio: {{ t.fecha_inicio }}</small>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Fecha de Cierre: {{ t.fecha_entrega }}</small>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tareas').DataTable();
    });
</script>

{% endblock %}