{% extends 'template.html' %}

{% block body %}

<div class="container row mt-1 p-5">
    <div class="row text-center mb-5">
        <h3 class="h3">{{t.titulo}}</h4>
    </div>
    <div class="col">
        <p>{{t.descripcion}}</p>
        <p><b>Fecha de inicio:</b> {{t.fecha_inicio}}</p>
        <p><b>Fecha de entrega:</b> {{t.fecha_entrega}}</p>
        {% if archivo %}
        <a href="{{t.archivo.url}}"></a>
        {% endif %}
    </div>
    <div class="col">
        {% if t.estado == False %}
        <p>Estado: Pendiente</p>
        <form action="/completar_tarea/{{t.id}}" method="post">
            {% csrf_token %}
            <input type="submit" value="Marcar tarea como hecha" class="btn btn-outline-success">
        </form>
        {% else %}
        <p>Estado: Completo</p>
        {% endif %}
    </div>

</div>

<div class="container p-5">
    <center><h2 class="h2">Comentarios</h2></center>
    
    {% for c in comentarios %}
        <div class="card mb-3 w-50" >
            <div class="card-body">
              <h5 class="card-title">{{c.estudiante}} dice:</h5>
              <p class="card-text">{{c.contenido}}</p>
            </div>
            <div class="card-footer">
                {{c.fecha}}
            </div>
          </div>
    {% endfor %}

    <form action="/estudiantes/comentar/" method="post">
        {% csrf_token %}
        <input type="hidden" name="tx_tarea" value="{{t.id}}">
        <div class="mb-3">
            <label for="contenido" class="form-label">Comentario</label>
            <textarea class="form-control" id="tx_contenido" name="tx_contenido" rows="3"></textarea>
        </div>
        <div class="mb-3 row justify-content-center">
            <button type="submit" class="btn btn-success w-50">Comentar</button>
        </div>
    </form>
        
</div>

{% endblock %}