{% extends "template.html" %}

{% block body %}

<div class="container d-flex justify-content-center mt-4">
    {% if curso %}
    <div class="container w-50 border border-3 border-dark p-4 rounded-3">
        <h1 class="mb-4">{{ curso.nombre }}</h1>
        <div class="d-flex justify-content-center">
            <img src="{{ curso.imagen.url }}" class="img-fluid" alt="{{ curso.nombre }}">
        </div>
        <p class="mt-4">{{ curso.descripcion }}</p>
        <p class="mt-4">Duración: {{curso.f_inicio}} - {{ curso.f_fin }} </p>
        <div class="row">
            <a href="/estudiantes/inscribirse/{{curso.id}}" class="col btn btn-outline-success m-1">Inscribirse</a>
            <a href="/inicio/" class="col btn btn-outline-info m-1">Volver</a>
        </div>
    </div>
    {% else %}
    <h1 class="mb-4">Curso no encontrado</h1>
    {% endif %}
</div>


{% endblock %}